/*-- scss:defaults --*/
// Base document colors
$link-color: #3c898a;
$sidebar-hl: #3c898a;
$code-color: #9f7f3b;
$code-font-size: 0.8em;

.cell-output {
  background: #f7fafb;  
  margin-top: 0.5rem;
  border-radius: 0.4rem;
}
